.progress-number{
    color: #e33324;
    border: 1px solid #e33324;
    height: 30px;
    width: 54px;
	z-index: 10;
	color: #e33324;
	border-radius: 40px;
	font-weight: 600;
	font-size: 12px;
	line-height: 28px;
    text-align: center;
}

.progress-bar{
    position: relative;
    overflow: hidden;
    height: 3px;
    width: 100%;
    background-color: #e1e1e1;
}
.progress{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #e33324;
}